<!-- FOOTER  -->
<div class="footer">
  <hr>
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-3" align="left">
        <img alt="Department of Science and Technology" src="/assets/img/logo/DST.gif" style="width:95%">
      </div>
      <div class="col-md-3" align="center">
        <img alt="National Reserach Foundation" src="/assets/img/logo/NRF.jpg" style="width:95%">
      </div>
      <div class="col-md-6" align="right">
        <img alt="Stellenbosch Univeristy" src="/assets/img/logo/Stellenbosch.jpg" style="width:85%">
      </div>
    </div>
    <div class="row">
      <br>
      <p class="text-muted">
      The South African Centre of Excellence in Epidemiological Modelling and Analysis (<a href="http://www.sacema.org/" alt="SACEMA">SACEMA</a>) is a national centre of excellence funded by the South African Department of Science and Technology, administered by the National Reserach Foundation, and hosted at Stellenbosch University.
      </p>
    </div>
  </div>
</div>
</div>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
    var pageTracker = _gat._getTracker("google3a7f4b40cf993e47");
    pageTracker._trackPageview();
} catch(err) {}
</script>
